body { 
	
	height : 100%;

	font-size: 20px;
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	
	background-image:url("./../image/noisy.gif");
}

h3{
	color: #3385ff;
}

i{
	padding-right: 10px;
	padding-left: 10px;
}

img {
	border-radius: 50%;
	border : 5px solid #ecf0f1;
	width : 50%;
	max-width : 450px;
}

.img-left{
	text-align: center;
	border-right: 3px solid #ccc;
}

.evendiv{	
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}


.data-left{
	display: inline-block;
	text-align: center;
	border-right: 3px solid #ccc;
	/*padding-left: 200px;*/
}

.data-right{
	display: inline-block;
	text-align: center;
	border-left: 3px solid #ccc;
	/*padding-left: 200px;*/
}

.title{
    text-align: center;
}

.title h3{
	color: #0066ff;
}

.f-left{
	text-align: left;
	display: inline-block;
	top:50%;
	left:50%;
}

